graphviz @ file:///home/conda/feedstock_root/build_artifacts/python-graphviz_1749998426524/work
pillow @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pillow_1764330106/work
setuptools==72.1.0
